@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  // font.
  --jmugen-font-family: "Lato", sans-serif;

  // spacing.
  --jmugen-spacing-xxs: 0.25rem;
  --jmugen-spacing-xs: 0.5rem;
  --jmugen-spacing-sm: 1rem;
  --jmugen-spacing-md: 1.5rem;
  --jmugen-spacing-lg: 2rem;
  --jmugen-spacing-xl: 2.5rem;
  --jmugen-spacing-xxl: 3rem;

  // border radius.
  --jmugen-border-radius-xs: 0.25rem;
  --jmugen-border-radius-sm: 0.5rem;
  --jmugen-border-radius-md: 1rem;
  --jmugen-border-radius-lg: 1.5rem;
  --jmugen-border-radius-xl: 2rem;

  // header.
  --jmugen-header-height: 60px;

  // sidebar.
  --jmugen-sidebar-width: 250px;

  // modal.
  --jmugen-modal-max-width: 500px;

  // selector slider.
  --jmugen-selector-slider-track-height: 4px;
  --jmugen-selector-slider-thumb-size: 10px;
}
