.jmugen-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__main {
    grid-area: main;
  }
}
